.chat-main
  .header
    .left-box
      .left-box__current-group
        = @group.name
      %ul.member-list 
        member
        %li.member
          - @group.users.each do |user|
            %li.member 
              = user.name
         
    .right-box
      = link_to edit_group_path(@group), class: 'right-box' do
        .right-box__btn
          Edit
  .messages
    = render @messages
      
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'  
      = f.submit 'Send', class: 'submit-btn'   




  